.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.roles {
  display: flex;
}

.role {
  display: flex;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  width: 250px;
  height: 250px;
  flex-direction: column;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.role:hover {
  border: 1px solid #7dd1fd;
}

.input {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
}

.reset {
  width: 220px;
  border-left: 2px solid #9c60d7;
  color: #9c60d7;
  padding: 5px;
  padding-right: 0px;
  font-weight: 700;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 420px;
  font-weight: 700;
  font-size: 13px;
}

.login {
  background-color: #9c60d7;
  color: white;
  width: 150px;
  height: 40px;
}

.span {
  position: absolute;
  top: -10px;
  left: 45px;
  width: 100px;
  background-color: #9c60d7;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20px;
  z-index: 10;
  color: white;
}
